.trapezoid {
  position: relative;
  color: white;

  a {
    color: black;
  }

  h1 {
    padding-top: .5em;
    padding-left: .3em;
    font-size: 3em;
  }

  p {
    font-size: clamp(0px, 3dvw, 20px);
    padding-top: 5%;
    padding-left: .6em;
    line-height: 1.5em;
  }
}

.links {
  position: absolute;
  font-size: 3em;
  $spacing: 10%;
  rotate: -33deg;
  min-width: 500px;
  right: 0;
  bottom: 20%;
  display: flex;
  justify-content: space-between;

  a:hover {
    cursor: pointer;
  }
}

.contactBtn {
  background: transparent;
  border: transparent;
  font-size: 1em;
  &:hover {
    cursor: pointer;
  }
}

.links {
  @media (width < 1900px) {
    rotate: none;
    bottom: 0;
    display: grid;
    justify-content: end;
    gap: .5em;
  }
}
